---

interface Props {
  data: {
    title: string;
    description: string;
    link: string;
  };
  id: string;
}

const {
  data: { title, description, link},
  id,
} = Astro.props;
---

<article>
  <div style="margin-top: 2em;">
    
      <h1><a class="anchor"></a><a href={link} class="notetitle">{title}</a></h1> 
    <fieldset>
    <p>{description}</p>
    </fieldset>
  </div>
</article>