<section>
    <p>
				ABOUT ME
			</p>

			<p>
				Hi, I'm Vilius — a Computer Science graduate from somewhere in Europe.
			</p>
			<br>
			<p>
				I'm passionate about technology and programming, with a particular interest in servers, embedded Linux systems, and software development. <br>
				I enjoy diving into low-level systems and understanding how things work under the hood.
			</p>
			<p>
				In the past, I spent time self-hosting various game servers, including Minecraft and Counter-Strike 1.6,<br> which sparked my interest in networking and server administration.
			</p>
			<br>
			<p>
				Currently dabbling in electron based application development, learning C to deepen my understanding of systems programming, and Spanish, making it my third foreign language. Always eager to explore new tech, improve my skills, and build cool stuff.
			</p>
			<div id="commissions" style="margin: 1em;">
				<b>Interests:</b><br />
				<ul style="margin: 0.25rem 0">
					<li>Embeded linux</li>
					<li>Technology</li>
					<li>Game modding</li>
				</ul>
			</div>
			<div id="commissions" style="margin: 1em;">
				<b>Programming languages:</b><br />
				<ul style="margin: 0.25rem 0">
					<li>C++</li>
					<li>C# (to some extent)</li>
					<li>TypeScript</li>
					<li>Web dev (html/css/js)</li>
					<li>bash</li>
					<li>PowerShell script (to some extent)</li>
				</ul>
			</div>
</section>