<section>
    <p>
				ABOUT ME
			</p>

			<p>
				Hello my name is Vilius
				,somewhere from Europe.
			</p>
			<p>
				Computer Science gratuate.
			</p>
			<p>
				Interested in technology and programming. Specifically servers, embeded linux and software developing.
			</p>
			<p>
				Used to self host various game servers for "Minecraft" and "Cs 1.6".
			</p>
			<p>
				Currently learning C and spanish as my 3rd foreign language.
			</p>
			<div id="commissions" style="margin: 1em;">
				<b>interests:</b><br />
				<ul style="margin: 0.25rem 0">
					<li>Embeded linux</li>
					<li>Technology</li>
					<li>Game modding</li>
				</ul>
			</div>
</section>