<section>
    				<div>
					<fieldset id="contact">
						<legend>Contact me</legend>
                        <table>
							<tr>
								<td>LinkedIn: </td>
								<td><a href="https://www.linkedin.com/in/vilius-chaziachmetovas-815125220/" target="_blank" rel="noopener noreferrer">Vilius Chaziachmetovas</a></td>
							</tr>
						</table>
                        <table>
							<tr>
								<td>github: </td>
								<td><a href="https://github.com/JewelDesu" target="_blank" rel="noopener noreferrer">JewelDesu</a></td>
							</tr>
						</table>
						<table>
							<tr>
								<td>telegram: </td>
								<td>
									<a href="https://t.me/Ywohn" target="_blank" rel="noopener noreferrer">jumjum</a>
								</td>
							</tr>
						</table>(Low chance i'll respond on telegram)	
					</fieldset>
				</div>
</section>