<section>
    <fieldset id="specs">
				<legend>My hardware</legend>
				<ul>
					<li>
						<details>
							<summary>Desktop</summary>
							<table>
								<tr>
									<td>model</td>
									<td>Custom built bingus pc with reused case cuz im cheap</td>
								</tr>
								<tr>
									<td>cpu</td>
									<td>AMD Ryzen 5 5600X 3.70GHz</td>
								</tr>
								<tr>
									<td>ram</td>
									<td>16 GB</td>
								</tr>
								<tr>
									<td>gpu</td>
									<td>
										NVIDIA GeForce RTX 3070 8GB
									</td>
								</tr>
								<tr>
									<td>disk</td>
									<td>
										1x 500 GB Kingston KC3000 NVMe M.2 SSD
									</td>
								</tr>
								<tr>
									<td>os</td>
									<td>
										Windows
									</td>
								</tr>
							</table>
						</details>
					</li>
					<li>
						<details>
							<summary>Laptop</summary>
							<table>
								<tr>
									<td>model</td>
									<td>Thinkpad T480</td>
								</tr>
								<tr>
									<td>cpu</td>
									<td>Intel Core i5-8350U @ 1.70GHz 1.90GHz</td>
								</tr>
								<tr>
									<td>ram</td>
									<td>16 GB</td>
								</tr>
								<tr>
									<td>gpu</td>
									<td>
										Intel UHD Graphics 620
									</td>
								</tr>
								<tr>
									<td>disk</td>
									<td>
										1x 500 GB Samsung 980 NVMe M.2 SSD 
									</td>
								</tr>
								<tr>
									<td>os</td>
									<td>
										Dual boot with windows (Ubuntu VM) and
										Arch Linux
									</td>
								</tr>
							</table>
						</details>
					</li>
					<li>
						<details>
							<summary>Crappy home server</summary>
							<table>
								<tr>
									<td>model	</td>
									<td>HP ProLiant ML350 G4</td>
								</tr>
								<tr>
									<td>cpu	</td>
									<td>Intel Xeon Processor 3.2 GHz/800 MHz, 1MB L2</td>
								</tr>
								<tr>
									<td>ram	</td>
									<td>4 GB</td>
								</tr>
								<tr>
									<td>gpu	</td>
									<td>
										no such thing
									</td>
								</tr>
								<tr>
									<td>disk	</td>
									<td>
										1TB of storage
									</td>
								</tr>
								<tr>
									<td>os	</td>
									<td>
										CentOS
									</td>
								</tr>
							</table>
						</details>
					</li>
					<li>
						<details>
							<summary>Dev boards</summary>
							<b>For learning embeded linux programming:</b>
							<table>
								<tr>
									<td>model	</td>
									<td>STM32MP135x</td>
								</tr>
								<tr>
									<td>model	</td>
									<td>STM32MP157x</td>
								</tr>
							</table>
							<b>Silly home projects</b>
							<table>
								<tr>
									<td>model	</td>
									<td>ESP32/86<br>I have way too much of these boards</td>
								</tr>
							</table>
						</details>
					</li>
					<li>
						<details>
							<summary>Single-board computers</summary>
							<table>
								<tr>
									<td>Raspberry Pi	</td>
									<td> Pi 4 and 3<br>Pi Zero 2</td>
								</tr>
								<tr>
									<td>Banana Pi	</td>
									<td>M2 Zero</td>
								</tr>
							</table>
						</details>
					</li>
				</ul>
			</fieldset>
</section>