<section>
					<fieldset>
							<div>
								<p>For those that are too busy (or too lazy) to compile it themselves because the version that comes from package managers has plugins disabled</p>
								<div class="post">
									<div class="table">
										<div class="tags">Refferences:</div>
										<div class="tags value">
											<a href="https://johnvansickle.com/ffmpeg" title="view all posts with this tag">johnvansickle</a>
										</div>
									</div>
								</div>
								<hr />
								<p>In this example i am working with STM32MP157x</p>
								<h1><a aria-hidden="true" class="anchor"></a>FFMPEG lazy mode</h1>
								<p>Before instalation check your machenes architecture <code>dpkg --print-architecture</code></p>
								<pre class="codecontainer"><code class="language-ini"><span class="code">root@stm32mp2:~#</span><span class="command"> dpkg --print-architecture</span>
<span class="hosttext">arm64</span></code></pre>
						
								<p>Now sellect youre spice accordingly to your architecture</p>
								<pre class="codecontainer"><code class="language-ini"><span class="code">amd64: </span><span class="command">ffmpeg-git-amd64-static.tar.xz</span>
<span class="code">i686: </span><span class="command">ffmpeg-git-i686-static.tar.xz</span>
<span class="code">arm64: </span><span class="command">ffmpeg-git-arm64-static.tar.xz</span>
<span class="code">armhf: </span><span class="command">ffmpeg-git-armhf-static.tar.xz</span>
<span class="code">armel: </span><span class="command">ffmpeg-git-armel-static.tar.xz
						</span></code></pre>
									
							</div>
						<div >
							<a class="projectbutton" href="./ffmpeg"> more details</a>
						</div>
					</fieldset>
</section>